# see https://github.com/detekt/detekt/blob/master/detekt-core/src/main/resources/default-detekt-config.yml for examples

complexity:
  TooManyFunctions:
    active: false
  LongMethod:
    active: false
  LongParameterList:
    active: false

style:
  WildcardImport:
    active: false
  MagicNumber:
    active: false

exceptions:
  TooGenericExceptionCaught:
    excludes: ['**/SpeechRecognition.kt']

naming:
  MatchingDeclarationName:
    active: false
  ClassNaming:
    active: false
  ConstructorParameterNaming:
    active: false
  MemberNameEqualsClassName:
    active: false
